Repository timescale/promscale_extension, pull requests merged in 2022-11, with the labels that each got.

#556 Make chunks to freeze test less finicky
  sql-tests/testdata/chunks_to_freeze.sql
  sql-tests/tests/snapshots/tests__testdata__chunks_to_freeze.sql.snap
Labels: Test

#555 Maintenance jobs metrics without backend local side channel
  CHANGELOG.md
  docs/sql-api.md
  migration/idempotent/011-maintenance.sql
  migration/incremental/034-maintenance-job-stats.sql
  sql-tests/testdata/maintenance_jobs_separation.sql
  sql-tests/tests/snapshots/tests__testdata__maintenance_jobs_separation.sql.snap
Labels: epic/maintenance-job-o11y

#565 Fix: Exception when scanning for new rollups & compressing Caggs
  migration/idempotent/017-metric-rollup.sql
  migration/idempotent/018-metric-rollup-maintenance.sql
  sql-tests/testdata/custom_downsample_refresh.sql
  sql-tests/testdata/metric_rollups_maintenance.sql
  sql-tests/testdata/metric_rollups_refresh.sql
  sql-tests/testdata/metric_rollups_scan_for_new_rollups.sql
  sql-tests/tests/snapshots/tests__testdata__custom_downsample_refresh.sql.snap
  sql-tests/tests/snapshots/tests__testdata__metric_rollups_refresh.sql.snap
  sql-tests/tests/snapshots/tests__testdata__metric_rollups_scan_for_new_rollups.sql.snap
Labels: epic/automatic-downsampling
